@chaset="utf-8"
*{
	padding:0;
	margin: 0;
}
@media=screen and(min-width=320px)
html{
	font-size:62.5%;
    max-width:1080px
}
img{
	max-width: 100%;
}
ul{
	list-style-type:none;
}
html,body,#container{
	height:100%;
}
#header{
	position: relative;
	widht:100%;
	height:4em;
	font-family:Microsoft YaHei,serif;
    background:rgb(95,192,205);

}
#header img{
	position:absolute;
	left:0.5em;
	top:1em;


}
h1{
	font-size:2em;
	font-weight:normal;
	line-height:2em;
	text-align:center;
	color:white;
	letter-spacing: 0.1em;
}
#background{
	width:100%;
    height:30%;
	padding:10% 0;
	background-image: url(../images/main-bgd.png);
/* 	background-repeat:repeat; */
	background-size:cover;
}

#content{overflow:hidden;
	width:100%;
	/* border-bottom:1px solid #e1e5e7; */
}
#content #clear{
    border-bottom:1px solid #e1e5e7;
	
}
#content #clear #skills{
	margin:0 1em;
	padding-left:4%;
    border-left:3px solid #5ac0ce;
    font-size:1.5em;


}
#content #list{
	margin:5%;
}
#content #list li{
	border-bottom:1px solid #e1e5e7;
	padding:4%;
}
#content #list li img1{
	margin-left:0.8em;
}
#content #list li img2{
	margin-left:0.5em;
}
#content #list li .property{
	padding:1.5%;
	margin:1.5%;
}
.condition{
	margin-right:3%;
	padding-right:3%;
	border-right:1px solid #e1e5e7;
	color:#999;
}
.detail-red{
	color:red;
}

#footer{
	width:100%;
	margin:10% 6% 6%;
	overflow:hidden;
}

#message{
	color:#5ac0ce;
	font-size:1.5em;
	letter-spacing:0.5em;
	background: white;
	float:left;
	width:40%;
	margin:0 5% 0 5%;
	padding:5% 0 5% 0;
	border-radius:2%;
}
 #contact{
	color:white;
	font-size:1.5em;
	letter-spacing:0.5em;
	background:#5ac0ce;
	float:right;
	width:40%;
	margin:0 5% 0 5%;
	padding:5% 0 5% 0;
	border-radius:2%;
}
